<template>
    <div>
        <p>Enter Number:</p>
        <input type="number" name="number" v-model="number" required><p></p>
        <button v-on:click="count()" >Start Counter</button><p></p>
        <div id="number">{{number}}</div>
    </div>
</template>
<script>
export default {
  name: 'CounterPages',
    data(){
        return{
            number:"",
        }
    },
    methods:{
        count(){
            let number=this.number;
            let count=setInterval(function() {
                if(number==1){
                    clearInterval(count);
                }
                number=number-1;
                document.getElementById("number").innerHTML = number;
            },1000);
        }
    }
}
</script>